fastapi
uvicorn
pydantic
langchain
langsmith
langchain-ollama
langchain-community
faiss-cpu
python-dotenv
streamlit
langchain-openai
langchain-anthropic
langchain-google-genai
beautifulsoup4
ddgs
pypdf
SpeechRecognition
pyaudio